<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>
            {% if form %}
                specr.save(me)
            {% else %}
                specr.load({{ hexcomp }})
            {% endif %}
        </title>
        <meta name="description" content="Check out my awesome computer specs!">
        <meta name="author" content="curbcore">
        {% if not form %}
            <meta property="og:title" content="{{ computer.system_name }} by {{ computer.creator_name }}">
        {% else %}
            <meta property="og:title" content="specr.me">
        {% endif %}
        <meta property="og:site_name" content="specr.me">
        <meta property="og:image" content="https://specr.me/static/img/specr_logo_v1.png">
        <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skeleton-css@2.0.4/css/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/skeleton-css@2.0.4/css/skeleton.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/specr.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts.css') }}">

        <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

        <script>
            function navGen(delta, comp) {
                if (delta == 'prev') {
                    comp = (parseInt("0x" + comp) - 1).toString(16);
                } else if (delta == 'next') {
                    comp = (parseInt("0x" + comp) + 1).toString(16);
                }
                document.location = "/show/" + comp;
            }
        </script>
    </head>
    <body>
        <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert-box {{ category }}"><span>{{ category }}: </span>{{ message }}</div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="eight columns boxes ">

                    {% if form %}
                        <h1>specr.save(me)</h1>
                    {% else %}
                        <h1>specr.load({{ hexcomp }})</h1>
                    {% endif %}
                    {% block body %}{% endblock %}
                    
                </div>
                
                <div class="four columns boxes blue_box">
                    {% if form %}
                        <span class="emoji">🤔</span> <b>Usage:</b><br>
                        <ol>
                            <li>Upload your dxdiag file in XML format</li>
                            <li>Save your unique URL</li>
                            <li>Share to your <span class="emoji">❤</span>'s content!</li>
                        </ol>
                        <br>
                        <b>How To Get DxDiag.xml:</b><br>
                        <ul>
                            <li>Press Windows key + R</li>
                            <li>Type "dxdiag" in the run dialogue, press Enter</li>
                            <li>Press the "Save All Information..." button</li>
                            <li>Change "Save as type:" to XML file type, then Save.</li>
                        </ul>
                    {% else %}
                        <div class="slice-dice-bake">
                            Slice it!<span class="emoji">🔪</span> Dice it! <span class="emoji">🎲</span> Bake it! <span class="emoji">🍰</span><br> 
                            Smash it! <span class="emoji">🔨</span> Screenshot it! <span class="emoji">📸</span><br>
                            But don't forget: <b>Share Your Specs!</b><span class="emoji">👍</span>
                        </div>    
                        <br>
                        <b>Permanent link to your specs:</b>
                        <textarea style="min-height: fit-content;" class="text-to-copy u-full-width" readonly>{{ request.url }}</textarea>
                        <button class="js-copy-btn button-primary u-full-width">Copy!</button>
                    {% endif %}
                    
                </div>
            </div>
            
            <div class="row">
                <div class="twelve columns small-font">
                    <hr>
                    <b>specr.me</b> is a website designed to give you a quick and easy way to show off or reference your computer specifications.<br>
                    Made by <b><a href="https://dag.ninja" target="_blank">Dag Sneeggen</a></b> with <a href="https://gitlab.com/dag83/specr_solution" target="_blank">free software</a>.<br>
                    <br>
                    Software stack: <b>GCP, Docker, Python, Flask, Firestore</b>.<br>
                    Development tools: <b>Windows 10, VS Code, Gitlab, GIMP</b>.<br>
                    CSS3 by <a href="https://getskeleton.com/">Skeleton</a>. Icons by <a href="https://thenounproject.com/ArtZ91/collection/computer/">Arthur Shlain</a>. <a href="https://github.com/ryanpcmcquen/simpleJsCopy">simpleJsCopy.js.</a>
                </div>
            </div>
        </div>

        <!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <script src="{{ url_for('static', filename='js/simpleJsCopy.js') }}"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-69474070-1', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- Global site tag (gtag.js) - Google Ads: 860139653 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-860139653"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-860139653');
        </script>


    </body>
</html>
