{% extends "layout.html" %}
{% block body %}
    <form style="width: 100%;" action="/upload" method=post enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        {{ form.creator_name.label }} {{ form.creator_name(class='u-full-width') }}
        {{ form.comp_name.label }} {{ form.comp_name(class='u-full-width') }}
        <br>
        <input type="file" name="file" accept="application/xml, text/xml">
        <br>
        <input class="button-primary u-full-width" type="submit" value="Upload"><br>
        <div class="nav_buttons"> <a class="button u-full-width" href="/random">Show Random!</a> </div>
    </form>
{% endblock %}