body {
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    padding: 2rem 0rem;
}
form, textarea {
    margin-bottom: 0rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #6c9bc4;
    text-decoration: underline;
}
ol, ul {
    margin: 0.5rem;
}
li {
    margin: 0rem;
    margin-left: 1rem;
}
td {
    padding: 0.66rem;
}
.slice-dice-bake {
    text-align: center;
    margin: 1rem 0;
}
.button {
    padding: 0 15px;
}
.show_button {
    width: 32%;
}
.nav_buttons {
    display: flex;
    justify-content: space-between;
}
.nav_button {
    width: 32%;
}
@media (max-width: 850px) {
    .nav_button {
        max-width: min-content;
    }
    .show_button {
        min-width: min-content;
    }
}
.form_div {
    padding: 1rem;
}
.spec_table {
    font-size: 90%;
    width: 90%;
}
.boxes {
    padding: 2rem;
    border: 1px dotted #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #888888;

}
.blue_box {
    font-size: small;
    background-color: #C7DBED;
}
.small-font {
    font-size: 0.75em;
}
.emoji {
    font-family: 'Segoe UI Emoji', 'Segoe UI Symbol';
}